/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * ---------------------------------------------------------
 *  Nextflow config file with conda configuration
 * ---------------------------------------------------------
 */

process {

    conda = "$baseDir/environment.yaml"

    executor = 'slurm'

    // Purge modules and load Anaconda to activate Conda environment
    beforeScript = 'module purge && ml Anaconda2/5.1.0'

}

params {

    // Max resources requested by a normal node on milou. If you need more memory, run on a fat node using:
    //   --clusterOptions "-C mem512GB" --max_memory "512GB"
    max_memory = 224.GB
    max_cpus = 32
    max_time = 24.h

    //Defines reference genomes using BABS path
    // genome_base = '/camp/stp/babs/working/patelh/genome'

}
