/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * ---------------------------------------------------------
 *  Nextflow config file with conda configuration
 * ---------------------------------------------------------
 */

process {

    conda = "$baseDir/environment.yaml"

    executor = 'slurm'

    // Purge modules and load Anaconda to activate Conda environment
    beforeScript = 'module purge && ml Anaconda2/5.1.0'

}
