/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * ---------------------------------------------------------
 *  Nextflow config file with conda configuration
 * ---------------------------------------------------------
 */

process {

    conda = "$baseDir/environment.yaml"

    // Global process config
    executor = 'slurm'

    // Purge modules
    beforeScript = 'module purge && ml Anaconda2/5.1.0'

    $get_software_versions.module = [
        'SAMtools/1.7',
        'FastQC/0.11.7',
        'fastq_screen/0.11.3',
        'cutadapt/1.16',
        'BWA/0.7.17',
        'picard/2.18.7',
        'R/3.4.1',
        'BamTools/2.5.1',
        'Pysam/0.14.0',
        'BEDTools/2.27.1',
        'ucsc-wigtobigwig/366',
        'MACS2/2.1.1.20160309',
        'homer/4.9.1',
        'Python/2.7.15',
        'Subread/1.6.0',
        'multiqc/1.5'
    ]
}

params {

    // Max resources requested by a normal node on milou. If you need more memory, run on a fat node using:
    //   --clusterOptions "-C mem512GB" --max_memory "512GB"
    max_memory = 224.GB
    max_cpus = 32
    max_time = 24.h

    //Defines reference genomes using BABS path
    // genome_base = '/camp/stp/babs/working/patelh/genome'

}
