/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for Genome paths
 * -------------------------------------------------
 * Defines reference genomes, using BABS paths
 * Can be used by any config that customises the base
 * path using $params.genome_base / --genome_base
 */

params {
  // Genome reference file paths on CAMP
  genomes {
    'hg19' {
      fasta             = "${params.genome_base}/hg19/hg19.fa"
      gtf               = "${params.genome_base}/hg19/genome_annotation/07-06-17/all_refseq_genePredToGTF.gtf"
      mito_name         = "chrM"
      bwa_index         = "${params.genome_base}/hg19/index/bwa/0.7.7/hg19.fa"
      genome_mask       = "${params.genome_base}/hg19/hg19.fa.fai"
      macs_genome_size  = "2.7e9"
    }
    'mm10' {
      fasta             = "${params.genome_base}/mm10/mm10.fa"
      gtf               = "${params.genome_base}/mm10/genome_annotation/11-12-17/all_refseq_genePredToGTF.gtf"
      mito_name         = "chrM"
      bwa_index         = "${params.genome_base}/mm10/index/bwa/mm10.fa"
      genome_mask       = "${params.genome_base}/mm10/mm10.fa.fai"
      macs_genome_size  = "1.87e9"
    }
  }
}
